bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/AudioAppWeb/AudioAppWeb/wwwroot/audios
/AudioAppWeb/AudioAppWeb/wwwroot/story-covers
/.idea
AudioApp/.DS_Store
*.user
AudioAppWeb/.DS_Store
AudioAppWeb/AudioAppWeb/.DS_Store
/AudioAppWeb/AudioAppWeb/.idea
.DS_Store
