@page "/stories"
@using Components.Shared
@using AudioAppWeb.Components.Shared
<PageTitle>Stories</PageTitle>

<h1>Available Stories</h1>

<p>This page presents the list of all stories.</p>

@if (stories == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @foreach (MainStory story in stories) 
    {
        <MainStoryDisplay StoryToDisplay=@story /> 
        
        <br />
    }
    
}

@code {
    List<MainStory> stories = AudioApp.TestData.GenerateTestStories();
}

}