@page "/stories"
<PageTitle>Stories</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Available Stories</h1>

        <p>This page presents the list of all stories.</p>

        @if (stories == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            @foreach (MainStory story in stories)
            {
                <MainStoryDisplay StoryToDisplay=@story />

                <br />
            }

        }

    </Authorized>
    <NotAuthorized>
       You need to login first
    </NotAuthorized>
</AuthorizeView>

@code {
    List<MainStory> stories = AudioApp.TestData.GenerateTestStories();
}

}