@page "/story-episodes-upload"

<h3>Story Upload Control Panel</h3>
<h4>Please follow the steps</h4>

@if (_currentStory == null) //To be more precise we can use @if (_currentStory is null)
{
    <p>Step 1: Upload your story.</p>
    <UploadStory OnStorySaved="HandleStorySaved" />
}
else
{
    <p>Step 2: Upload Episodes for <strong>@_currentStory.Name</strong>.</p>
    <UploadEpisodes Story="_currentStory" />
    <p>You can upload as many episodes as needed.</p>

    @if (!FinishedUploading)
    {
        <button @onclick="FinishUploading">Finish and Save</button>
    }
    else
    {
        <p>Upload process completed.</p>
    }
}

@code {
    private MainStory? _currentStory;
    private bool FinishedUploading;
    private string UserMessage = "";

    private void HandleStorySaved(MainStory story)
    {
        _currentStory = story;     // Here the Step 2 will render
        StateHasChanged();
    }

    private void FinishUploading()
    {
        FinishedUploading = true;
        UserMessage = "Finished uploading all episodes.";  //  visible on page
        Console.WriteLine("User finished uploading all episodes."); //  Not visible on page, just for the developer
        // optionally navigate somewhere
        // NavigationManager.NavigateTo("/developer");
    }
}