<div class="story-template">
<h5>Story name: @StoryToDisplay.Name</h5>   
<h5>Story price:  @StoryToDisplay.Price</h5>  
<h5>Story Image:</h5>
<img src="@StoryToDisplay.CoverPath" alt="Cover image for @StoryToDisplay.Name" style="width:90px;height:auto;" />

<h6>..........................</h6>
<br/>
</div>
@code 
{
    [Parameter]
    public MainStory StoryToDisplay { get; set; }
    
    private void PlayStory()
    {
         // This is the story and later it will be connected the exactly audio
        
    }
}