<div class="story-template">
<h3>Story name: @StoryToDisplay.Name</h3>   
<h4>Story price:  @StoryToDisplay.Price</h4>  
<h5>Story Image: @StoryToDisplay.CoverPath</h5>
<h6>..........................</h6>
<br/>
</div>
@code 
{
    [Parameter]
    public MainStory StoryToDisplay { get; set; }
    
    private void PlayStory()
    {
         // This is the story and later it will be connected the exactly audio
        
    }
}