<h3>Story name: @StoryToDisplay.Name</h3>   
<h4>Story price:  @StoryToDisplay.Price</h4>  
<h5>Story ID: @StoryToDisplay.ID</h5> 
<br/>  
<h6>..........................</h6>
<br/>  
@code 
{
    [Parameter]
    public MainStory StoryToDisplay { get; set; }
}