.developer-page[b-qtkvs39n3e] {
    position: static;
    left: auto;
    right: auto;
    margin: 0;             /* no negative margins */
    /*margin-left: -2.5rem; */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    /* visuals */
    min-height: 100vh;
    padding: 2rem;
    background: linear-gradient(180deg, rgb(0,250,6) 0%, rgb(234,247,249) 100%);
    color: rgb(50,5,5);
    border-radius: 8px;    /* This is for rounded corners so the gradient looks intentional */
}
